            .topnav {
                overflow: hidden;
                background-color: #333;
            }
            
            .topnav>div {
                float: left;
                width: 100%;
                height: 50px;
                border: solid 1px #9c9c9c;
                box-sizing: border-box;
            }
            
            .topnav div {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            
            .topnav div:hover {
                background-color: #ddd;
                color: black;
            }
            
            .topnav div.active {
                background-color: #4CAF50;
                color: white;
            }
            
            .font-nav {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .banner {
                background-image: url('D:/ITESO/10_semestre/PAE/Tareas/Tarea1/assets/images/hero_banner.jpg');
                background-size: contain;
                height: 300px;
                width: 100%;
                align-items: center;
                margin-bottom: 32px;
            }
            
            @media screen and (min-width: 600px) {
                .topnav>div {
                    width: 20%;
                }
                .banner {
                    height: 400px;
                }
            }
            
            @media screen and (min-width: 900px) {
                .banner {
                    height: 600px;
                }
            }